body, html{
	font-size: 100%;
	font-family: "Verdana", sans-serif;
}

body,html{
	margin:0;
	padding:0;
}

nav ul{
	list-style: none;
	padding:0;
	background: lightblue;	
}

nav ul li a{
	color: black;
	text-decoration: none;
	padding: .8rem 1rem;
	display: block;
	line-height: 1;
}

nav ul li{
	border-bottom: 1px dotted white;
}

/*styling logo*/

nav div first-child{
	background:lightblue;
}

nav div:first-child h1{
	line-height:0;
	padding: 0rem 0rem;
	text-align: left;
}

nav div:first-child img{
	padding-left: 1.5rem;
	background-color: lightblue;
}

nav div:first-child h1, nav ul{
	margin:0;
}

/*Styling for larger devices*/

@media only screen and (min-width: 20em){
	nav{
		display: flex;
		justify-content: space-between;
		background: lightblue;
		align-items: center;
	}

	nav ul{
		display: flex;
		align-items: center;
		background:none;
	}
	nav div:first-child h1{
		padding: 0;
		margin-left:0 1rem;
	}

	nav div:first-child img{
		height: 40px;
	}
	nav ul li{
		border-bottom: none;
	}

	nav ul li a{
		padding:1.2rem 1rem;
	}

	nav ul li a:hover{
		background: aliceblue;
	}

}
